html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

img {
  vertical-align: middle;
  border-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fce82f;
}
